*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --rich-red: #8b0000;
    --green: #013220;
    --golden: #ffd700;
    --bgcolor: #121212;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--rich-red);
    
}

section{
    min-height: 100vh;
    padding: 12rem 9% 2rem;

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bgcolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.navbar a{
    font-size: 2rem;
    color: white;
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover ,
.navbar a.active{
    color: var(--golden);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--golden);
    display: none;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--golden);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--green);
    font-size: 1.6rem;
    color: var(--rich-red);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
}

.header img{
    width: 5vw;
    border-radius: 50%;
    border: 2px solid var(--golden);
}

.heading{
    text-align: center;
    font-size: 4.5rem;
    color: var(--golden);
    margin-top: 5rem;
}

.menu{
    background: var(--rich-red);
}

.menu h2{
    margin-top: 2rem;
    margin-bottom: 4rem;
    color: var(--golden);
}

.menu h3{
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: var(--golden);
}

.dish-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.dish-container .dish-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--golden);
    overflow: hidden;
    display: flex;
}

.dish-box img{
    width: 35vw;
    height: 250px;
    transition: .5s ease;
}

.dish-box:hover img{
    transform: scale(1.1);
}

.dish-box .dish-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), var(--golden));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.dish-box:hover .dish-layer{
    transform: translateY(0);
}

.dish-layer h4{
    font-size: 3rem;
}

.dish-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bgcolor);
    opacity: 70%;
}

.footer-text p{
    font-size: 1.6rem;
    color: white;
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--golden);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem white;
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--rich-red);
}



/* Breakpoints */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .menu{
        padding-bottom: 7rem;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon{
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .menu{
        margin-bottom: 3rem;
    }

    .dish-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .dish-box img{
        width: 100%;
    }
}

@media (max-width: 617px){
    .dish-container{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    img{
        width:100%;
    }
}

@media (max-width: 365px) {
    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}